@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Bebas+Neue&family=Comfortaa&family=Fredoka+One&family=Lobster&family=Open+Sans&family=Oswald&family=Staatliches&display=swap');

/* 
font-family: 'Acme', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Staatliches', cursive;
*/

:root {
    --cor0: #f7f7f7;
    --cor1: #0f0f0f;
    --txt1: 'Staatliches', cursive;
    --txt2: 'Anton', sans-serif;;
    --txtn: 'Oswald', sans-serif;
}

* {margin: 0px; padding: 0px}

html {
    font-family: var(--txtn);
}

main#container {
    background-color: var(--cor0);
    max-width: 1200px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

#cabecalho {
    text-align: center;
}

#box-logo {
    /* background-color: chocolate; */
    padding: 50px 0px 20px 0px;
}

/* #logo {} */

#cabecalho h1 {
    /* background-color: aquamarine; */
    padding: 10px 0px 10px 0px;
    font-size: 3.5em;
}

#cabecalho h2 {
    /* background-color: azure; */
    padding: 10px 0px;
    font-size: 2.5em;
}

#box-img-principal {
    /* background-color: coral; */
    text-align: center;
    padding: 50px;
}

#img-principal {
    max-width: 750px;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

.box-compre {
    /* background-color: cornflowerblue; */
    /* clear: both; */
    margin: -30px 0px;
    padding: 0px 15px;
}

.compre {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px var(--cor0);
    color: var(--cor1);
    font-size: 45pt;
    text-align: center;
    background-color: chartreuse;
    max-width: 700px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
    border: 7px solid #00ff00; 
}

.compre:hover {
    background-color: #00FF00;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
    border: 7px solid chartreuse; 
}

#galeria {
    /* background-color: crimson; */
    padding: 50px;
}

.img-galeria {
    /* background-color: darkblue; */
    text-align: center;
    width: 46%;
    position: relative;
    float: left;
    padding: 20px;
}

.limpar {
    clear: both;
}